*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: #E9ECEF; /* Couleur de fond*/
    color: #343A40; /* Couleur de texte */
    line-height: 1.6;
}
.container{
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    background: #fff; /* Couleur du fond du conteneur */
    border-radius: 8px; /* Coin arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour la profondeur */
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF; /* Couleur du titre */
}
.input-group{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type='file']{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 4px; /* Coins arrondis */
    transition: border-color 0.3s ease, background-color 0.3s ease; /*ajoute de la transition a la couleur du fond */
}
input[type = 'file']:focus{
    border-color: #007BFF; /* La bordure bleue au focus */
    outline: none; /* Suppression de l'outil par défaut */
    background-color: #E8F0FE; /* Change la couleur de fond pour indiquer l'interaction */
}
button{
    width: 100%;
    padding: 10px;
    background-color: #007BFF; /* Couleur du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Pas de bordure */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
button:hover{
    background-color: #0056B3; /* Couleur du bouton au survol */
    transform: translateY(-2px);
}
button:active{
    transform: translateY(0);
}
#result{
    margin-top: 20px;
    padding: 15px;
    background-color: #F8F9FA; /* Couleur du fond du resultat */
    border-left: 5px solid #007BFF; /* Bordure gauche pour le style */
}
@media(max-width:600px){
    .container{
        padding: 20px; /* Réduire le padding sur mobile */
    }
    button{
        font-size: 14px; /* Réduire la taille de la police sur mobile */
    }
}
